html {
    background: url(805656.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }



.calculadora{
    display: cover;
    margin:0 auto;
    padding:20px;
    background: url(WhatsApp.jpg) no-repeat center  fixed ;
    width: 300px;
    height: 500px;
    border-radius: 25px;
    
    
  }
  .calculadora td button{
    display:block;
    width:70px;
    height: 70px;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.5);
    color: #39dc79;

    border-radius: 25px;

    
  }
  
  #resultado{
    display:block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width:300px;
    height: 100px;
    line-height: 100px;
    color: #39dc79;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    
    
    
  }